/* Header Section */
.header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--text-secondary);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
}

/* Projects Section */
.projects {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 10px;
}

@media only screen and (min-width: 600px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.description {
    color: var(--text-secondary);
    font-weight: 400;
}

/* Education Section */
.education {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    align-items: center;
}

.education > .card {
    display: none;
}

@media only screen and (min-width: 768px) {
    .education {
        grid-template-columns: 1fr 2fr;
    }

    .education > .card {
        display: flex;
    }
}

/* All Sections */
.card {
    height: min-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
}

.card:hover {
    text-decoration: none;
    transform: rotate(2deg);
}

.thumbnail {
    border-radius: 5px;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    line-height: 1.5rem;
}
