body {
  font-size: 112.5%;
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
