body {
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1.125rem;
}
