.pane {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.description {
    color: var(--secondary-text);
}
