.blogspane {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.blogsheader {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.blogsection {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.bloglist {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.blogyear {
    color: #ff9f1c;
    border-bottom: 1px solid rgba(230, 230, 230, 0.2);
    padding: 10px 0;
}

.blog {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    column-gap: 10px;
    transition: 0.15s ease-in-out;
}

.blog:hover {
    cursor: pointer;
    padding-left: 10px;
    color: #2ec4b6;
}

.blogheader {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.blogtitle {
    line-height: 1.2em;
    margin: 5px 0;
}

.blogdescription {
    color: grey;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogdate {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
