.pane {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.section {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.year {
    border-bottom: 1px solid rgba(230, 230, 230, 0.2);
    padding: 10px 0;
}

.blog {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    column-gap: 10px;
    transition: 0.15s ease-in-out;
}

.blog:hover {
    cursor: pointer;
    padding-left: 10px;
    color: var(--primary);
}

.info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title {
    line-height: 1.2em;
    margin: 5px 0;
}

.description {
    color: var(--secondary);
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
