.footerpane {
    display: flex;
    column-gap: 20px;
    border-top: 1px solid rgba(230, 230, 230, 0.2);
    padding: 20px;
}

.sociallink {
    color: grey;
    display: flex;
    column-gap: 8px;
    align-items: center;
    transition: 0.1s ease-in-out;
}

.sociallink:hover {
    color: #2ec4b6;
    cursor: pointer;
}
