html,
body {
    max-width: 650px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

::selection {
    background: #ff9f1c;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 10px 0;
}

h5 {
    color: #ff9f1c;
}

img {
    height: auto;
    width: 100%;
}
