:root {
    --background: #fffcf2;
    --primary-background: #f38181;
    --secondary-background: #95e1d3;
    --highlight-background: #fce38a;
    --primary-text: #101010;
    --secondary-text: #403d39;
}

[data-theme='dark'] {
    --background: #101010;
    --primary-background: #f38181;
    --secondary-background: #95e1d3;
    --highlight-background: #fce38a;
    --primary-text: #fffcf2;
    --secondary-text: grey;
}

html,
body {
    height: 100%;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    color: var(--primary-text);
    background-color: var(--background);
}

body {
    max-width: 950px;
    margin: auto;
}

#__next {
    height: 100%;
}

main {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

hr {
    height: 1px;
    background-color: var(--secondary-text);
    border: none;
}

ul,
ol {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

li {
    line-height: 1.5;
    padding: 0 10px;
}

li::marker {
    color: var(--secondary-text);
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span {
    line-height: 1.75;
}

small {
    color: var(--secondary-text);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    box-sizing: border-box;
    transition: 0.025s ease-in-out;
}

::selection {
    background: var(--highlight-background);
}
