:root {
    --background: #fffcf2;
    --background-secondary: #e9ecef;
    --primary-background: #3b82f6;
    --secondary-background: #f97316;
    --highlight-background: #fce38a;
    --primary-text: #101010;
    --secondary-text: #838280;
}

[data-theme='dark'] {
    --background: #101010;
    --primary-background: #3b82f6;
    --secondary-background: #f97316;
    --highlight-background: #fce38a;
    --primary-text: #fffcf2;
    --secondary-text: #a3a3a3;
    --hidden-text: rgba(232, 230, 227, 0.4);
}

html,
body {
    height: 100%;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    color: var(--primary-text);
    background-color: var(--background);
    transition: background-color 0.2s ease, color 0.2s ease;
}

body {
    max-width: 950px;
    margin: auto;
}

#__next {
    height: 100%;
}

main {
    width: 100%;
    padding: 0 20px;
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section > span,
section > ul,
section > ol {
    color: var(--secondary-text);
}

section > h3 {
    border-bottom: 1px solid rgba(230, 230, 230, 0.2);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--background), var(--primary-text), var(--background));
}

ul,
ol {
    display: flex;
    flex-direction: column;
}

li {
    line-height: 1.5;
    padding: 0 10px;
}

li::marker {
    color: var(--secondary-text);
}

small {
    color: var(--secondary-text);
}

label {
    font-weight: 600;
}

a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

a.primary {
    color: var(--primary-background);
}

a.secondary {
    color: var(--secondary-background);
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

button {
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

* {
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--highlight-background);
}

.sentence {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    align-items: center;
}

.grey {
    color: var(--secondary-text);
}
