.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.description {
  color: grey;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.content {
  margin: 20px;
}

.page {
  font-weight: 500;
  margin-right: 20px;
}

.navpane {
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  height: 100px;
}

.aboutpane {
  display: grid;
  grid-template-columns: 100%;
  margin: 50px 0;
}

@media only screen and (min-width: 640px) {
  .aboutpane {
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
  }
}

.abouttext {
  align-self: end;
}

.profileimg {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-radius: 30px;
}

.projectspane {
  display: grid;
  grid-template-columns: 100%;
  margin: 25px 0 50px;
}

@media only screen and (min-width: 640px) {
  .projectspane {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  }
}

.project {
  display: grid;
  grid-template-rows: min-content auto min-content;
  border-radius: 10px;
  border: 3px solid #e6e6e6;
  transition: 0.5s ease-in-out;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.projectheader {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
}

.date {
  font-size: 0.8rem;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.blogspane {
  display: flex;
  flex-direction: column;
  margin: 25px 0 50px;
}

.blog {
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  border-bottom: 2px solid rgba(230, 230, 230, 0.2);
  column-gap: 10px;
  transition: 0.5s ease-in-out;
}

.blog:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.blogheader {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
}

.footerpane {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 0 50px;
}