.aboutpane {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.aboutheader {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.aboutcontent {
    color: grey;
}
