.pane {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--secondary-text);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
}

.content {
    color: var(--secondary-text);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 10px;
}

/** Tablets */
@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    height: min-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    color: #fffcf2;
    background-color: #101010;
    border: 1px solid #fffcf2;
}

.card:hover {
    text-decoration: none;
    transform: rotate(2deg);
}

.thumbnail {
    border-radius: 5px;
}

.project {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    line-height: 1.5rem;
}

.education {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    align-items: center;
}

.education > .card {
    display: none;
}

/** Tablets */
@media only screen and (min-width: 768px) {
    .education {
        grid-template-columns: 1fr 2fr;
    }

    .education > .card {
        display: block;
    }
}

.time {
    color: var(--secondary-text);
}

.job {
    display: flex;
    flex-direction: column;
}

.position {
    color: var(--hidden-text);
    font-size: 0.85rem;
}

.description {
    color: var(--secondary-text);
    font-weight: 400;
}
