.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    row-gap: 50px;
    justify-content: center;
}

.navigation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, min-content) auto 25px;
    column-gap: 20px;
    align-items: center;
    padding: 20px;
}
