.bar {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
    align-items: center;
}

.active {
    width: min-content;
    color: var(--text-primary);
}

.page,
.hidden {
    width: min-content;
    transition: 0.1s ease-in-out;
}

.page:hover,
.hidden:hover {
    color: var(--text-primary);
}

.page {
    color: var(--text-secondary);
}

.hidden {
    color: var(--text-hidden);
}
